* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #d2b48c; /* Maro deschis, cu aspect fade */
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    color: #8b4513; 
}

p {
    margin-bottom: 15px;
}
.content-section {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }